<nav class="navbar navbar-fixed-top navbar-static-top" id="nav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <button class="btn btn-nav" ng-hide="nav.shouldHideAboutButton()" ng-click="nav.handleAbout()">
          {{nav.aboutText}}
        </button>
      </div>
      <div class="col-xs-4 text-center">
        <img class="nav-title" src="assets/images/famous-places-small.png"></img>
      </div>
      <div class="col-xs-4 text-right">
        <button class="btn btn-nav btn-nav-spacing" ngsf-toggle-fullscreen ng-click="nav.toggleFullscreen()">
          <i class="material-icons">
            {{nav.fullscreen}}
          </i>
        </button>
        <button class="btn btn-nav" ng-click="nav.toggleAudio()">
          <i class="material-icons">
            {{nav.$storage.audioStatus}}
          </i>
        </button>
      </div>
    </div>
  </div>
</nav>
