<nav class="navbar navbar-static-top" id="nav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <button class="btn btn-nav" ng-click="handleAbout()">
          ABOUT
        </button>
      </div>
      <div class="col-xs-4 text-center">
        <!-- TODO: Change this into logo text  -->
        <h3 id="title">Famous Places</h3>
      </div>
      <div class="col-xs-4 text-right">
        <button class="btn btn-nav btn-nav-spacing" ngsf-toggle-fullscreen ng-click="toggleFullscreen()">
          <i class="material-icons">
            {{fullscreen}}
          </i>
        </button>
        <button class="btn btn-nav" ng-click="toggleAudio()">
          <i class="material-icons">
            {{$storage.audioStatus}}
          </i>
        </button>
      </div>
    </div>
  </div>
</nav>
