<nav class="navbar navbar-fixed-top navbar-static-top" id="nav">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4">
        <button class="btn btn-nav" ng-hide="shouldHideAboutButton()" ng-click="handleAbout()">
          ABOUT
        </button>
      </div>
      <div class="col-xs-4 text-center">
        <img class="nav-title" src="assets/images/famous-places-small.png"></img>
      </div>
      <div class="col-xs-4 text-right">
        <button class="btn btn-nav btn-nav-spacing" ngsf-toggle-fullscreen ng-click="toggleFullscreen()">
          <i class="material-icons">
            {{fullscreen}}
          </i>
        </button>
        <button class="btn btn-nav" ng-click="toggleAudio()">
          <i class="material-icons">
            {{$storage.audioStatus}}
          </i>
        </button>
      </div>
    </div>
  </div>
</nav>
