.password-box {
  padding: 2px 10px;
}

.contentbg.password-box {
  border-color: $color-brown;
}

.big-icon.material-icons {
  font-size: 65px;
}

.phone-icon.material-icons {
  font-size: 60px;
}

.red-icon {
  color: $color-red;
}
