.credits-logo {
  max-height: 100px;
}

.credits-box {
  padding: 10px;
}

.aboutbg {
  background-color: $color-white;
  border: 12px solid $color-yellow;
  border-radius: 12px;

}

#about-pad-top {
  height: 20px;
}
