.btn-mode {
  max-width: 768px;
}

.mode-box {
  background-color: $color-white;
  border: 12px solid $color-blue;
  border-radius: 12px;
  margin-bottom: 15px;
}

.mode-box-image {
  max-width: 100%;
  min-width: 100%;
}

.mode-label {

}
