<navbar></navbar>
<div class="basebg fill no-overflow">
  <div class="container-fluid navbar-pad">
    <div class="row">
      <div class="col-xs-12 text-center">
        <label class="textxLarge">
          Question
          {{score.round + 1}}
        </label>
      </div>
    </div>
    <div class="row">
      <div class="pad-small"></div>
      <div class="col-xs-12 text-center">
        <span class="textLarge">{{score.text}}</span>
        <div class="pad-small"></div>
        <img class="question-image" ng-hide="score.showMap" ng-src="{{game.question.photo.url}}"/>
        <div class="container-map fill question-image" map-lazy-load-params="{{score.googleMapsURL}}" map-lazy-load="https://maps.google.com/maps/api/js" ng-class="{'score-anim-map': score.showMap === true, 'transparent': score.showMap === false}">
          <ng-map center="{{score.mapCenter.lat}}, {{score.mapCenter.long}}" class="fill map" map-initialized="score.prepareMap(map)" zoom="4" default-style="false">
          </ng-map>
        </div>
      </div>
    </div>
    <div class="score-row">
      <div class="row">
        <div class="score-boxes" ng-hide="score.isWindowSmall()" ng-repeat="player in score.players">
          <div class="col-xs-3 noPad">
            <div class="score-box" ng-class="{
              'box-player1': $index === 0,
              'box-player2': $index === 1,
              'box-player3': $index === 2,
              'box-player4': $index === 3,
              'box-dark': game.isPlayerDone($index)
            }">
              <div class="text-center">
                <em class="textxxMedium monospaced">{{player.name}}</em>
              </div>
              <div class="pad-small"></div>
              <div class="row">
                <div class="col-xs-6">
                  <span class="textLarge monospaced">SCORE</span>
                </div>
                <div class="col-xs-6 text-right">
                  <span class="textLarge monospaced">{{score.padWithZeroes(player.score)}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-hide="!game.isWindowSmall()">
          <div ng-repeat="player in game.players">
            <div class="col-xs-12">
              <div class="score-line" ng-class="{
              'box-player1': $index === 0,
              'box-player2': $index === 1,
              'box-player3': $index === 2,
              'box-player4': $index === 3}">
                <div class="row">
                  <div class="col-xs-8">
                    <em class="textxxMedium monospaced">
                      {{player.name}}
                    </em>
                  </div>
                  <div class="col-xs-4 text-right">
                    <span class="textxxMedium monospaced">
                      {{score.padWithZeroes(player.score)}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
