.gameAnimLabel {
  transition-property: all;
  transition-duration: 1s;
}

.gameQuestion {
  opacity: 0;
}

.gameAnimQuestion {
  opacity: 1;
  transition: all 0.3s;
}

.question-image {
  max-width: 100%;
  max-height: 600px;
  border: $color-lightgray solid 20px;
  outline: #a9a9a solid 1px;
}
