<div class="basebg fill no-overflow">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Welcome to Famous Places!</h1>
        <p>Have a code? Enter your name and the code in the boxes below:</p>
        <div class="pad-xsmall"></div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="mobile-box textxLarge">
              <input class="fill unstyled" maxlength="20" ng-model="home.name" placeholder="Name" type="text"></input>
            </div>
          </div>
        </div>
        <div class="pad-xsmall"></div>
        <div class="row">
          <div class="col-xs-4 col-xs-offset-4">
            <div class="mobile-box textxLarge">
              <input class="fill unstyled" maxlength="6" ng-model="home.password" placeholder="Code" type="text"></input>
            </div>
          </div>
        </div>

        <div class="pad-xsmall"></div>
        <div class="text-center">
          <button class="btn btn-primary btn-lg textLarge">Play</button>
        </div>
        <div class="pad-small"></div>
        <p>Don't have a code? Open <em>famousplaces.bitballoon.com</em>
          on your computer to get started.</p>
      </div>
    </div>
  </div>
</div>
