.jumbotron {
  margin: 0;
  padding-top: 78px;
  padding-bottom: 0;
}

#main-subtitle {
  padding: 50px 2% 10% 2%;
}

#main-image {
  max-width: 500px;
  width: 45%;
  padding-bottom: 4%;
}

#main-pad-bottom {
  padding-bottom: 20px;
}
