.text-player1 {
  color: $color-red;
}

.text-player2 {
  color: $color-lightblue;
}

.text-player3 {
  color: $color-green;
}

.text-player4 {
  color: $color-gold;
}

.box-player1 {
  background-color: $color-red;
}

.box-player2 {
  background-color: $color-lightblue;
}

.box-player3 {
  background-color: $color-green;
}

.box-player4 {
  background-color: $color-gold;
}
