$color-white: #fff;
$color-black: #000;

$color-lightgray: #F9F8F7;
$color-bluegray: #D7E2E9;
$color-yellowgray: #F0EEE2;

$color-paleblue: #B9DCED;
$color-blue: #1F4864;
$color-lightblue: #4bb0ee;
$color-cyan: #89E3CF;
$color-green: #008369;
$color-lightyellow: #FFFDDD;
$color-yellow: #FFCB35;
$color-gold: #FFA336;
$color-orange: #FB4326;
$color-red: #BF1E2E;
$color-purple: #88648A;
$color-brown: #661e1e;
$color-pink: #FF007D;
