/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import "_variables";

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.fill {
  width: 100%;
  height: 100%;
}

.basebg {
  background-color: $color-yellowgray;
}

.contentbg {
  background-color: $color-white;
  border: 12px solid $color-blue;
  border-radius: 12px;
}

.mainbg {
  background-color: $color-black;
  background-image:url("../assets/images/map.png");
  background-position: center;
  background-size: cover;
  height: 100%;
}

.no-overflow {
  overflow-x: hidden;
}

.navbar-pad {
  padding-top: 55px;
}

.pad-xxsmall {
  height: 4px;
}

.pad-xsmall {
  height: 10px;
}

.pad-small {
  height: 20px;
}

.pad-medium {
  height: 35px;
}

.unstyled {
  border: none;
  outline: 0;
}
/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
